<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <% classNameLowerCase = className.toLowerCase() %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css"/>
    <link rel="stylesheet" href="http://dev.jtsage.com/cdn/datebox/1.1.0/jqm-datebox-1.1.0.min.css"/>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <% if (geolocated) { %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <style type="text/css">
        .visible {
            display: inline;
        }

        .invisible {
            display: none;
        }
    </style>
    <script src="js/grails/mobile/map/googleMapService.js"></script>
    <% }%>

    <script src="js/grails/mobile/event.js"></script>
    <script src="js/grails/mobile/mvc/model.js"></script>
    <script src="js/grails/mobile/mvc/controller.js"></script>
    <script src="js/grails/mobile/mvc/view.js"></script>
    <script src="js/grails/mobile/storage/store.js"></script>
    <script src="js/grails/mobile/feed/online.js"></script>
    <script src="js/grails/mobile/feed/offline.js"></script>
    <script src="js/grails/mobile/feed/feed.js"></script>
    <script src="js/grails/mobile/helper/toObject.js"></script>
    <script src="js/grails/mobile/sync/syncmanager.js"></script>
    <script src="js/grails/mobile/mvc/manager.js"></script>
    <script src="js/${packageName}/view/${classNameLowerCase}-view.js"></script>
    <script src="js/${packageName}/${classNameLowerCase}-bootstrap.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script src="http://dev.jtsage.com/cdn/datebox/1.1.0/jqm-datebox-1.1.0.core.min.js"></script>
    <script src="http://dev.jtsage.com/cdn/datebox/1.1.0/jqm-datebox-1.1.0.mode.datebox.min.js"></script>
</head>

<body>
<section data-role="page" id="section-list-${classNameLowerCase}s">
    <div data-role="header" data-position="fixed">
        <% if (geolocated) { %>
        <a data-transition="none" data-role="button" data-icon="grid" id="list-all-${classNameLowerCase}s">List</a>

        <h1>${className}</h1>
        <a data-transition="none" data-role="button" data-icon="star" id="map-all-${classNameLowerCase}s">Map</a>
        <% } else {%>
        <h1>${className}</h1>
        <% } %>
    </div>
    <% if (geolocated) { %>
    <div data-role="content" class="invisible" id="list-${classNameLowerCase}s-parent">
        <% } else { %>
        <div data-role="content" id="list-${classNameLowerCase}s-parent">
            <% } %>
            <ul data-role="listview" data-inset="true" data-filter="true" id="list-${classNameLowerCase}s">
            </ul>
        </div>
        <% if (geolocated) { %>
        <div data-role="content" class="visible" id="map-${classNameLowerCase}s-parent">
            <div style="height: 70%;width: 100%;position: absolute;" id="map-canvas-list"></div>
        </div>
        <% } %>
        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="#section-show-${classNameLowerCase}" data-transition="slide" data-role="button"
                           data-icon="plus">Add</a></li>
                </ul>
            </div>
        </div>
</section>

<section data-role="page" id="section-show-${classNameLowerCase}">
    <div data-role="header" id="show-${classNameLowerCase}" data-position="fixed">
        <a href="#section-list-${classNameLowerCase}s" data-transition="slide" data-icon="arrow-l">Cancel</a>

        <h1>${className}</h1>
    </div>
    <div id="form-update-${classNameLowerCase}">
        <ul data-role="listview" data-inset="true">
            <% props.eachWithIndex { p, i -> %>
            <li data-role="fieldcontain">
                <% if (p.type == String) { %>
                <label for="input-${classNameLowerCase}-${p.name}">${p.naturalName}</label>
                <input type="text" name="${p.name}" id="input-${classNameLowerCase}-${p.name}" value=""/>
                <% } else if (p.type == Boolean || p.type == boolean) { %>
                <label for="input-${classNameLowerCase}-${p.name}">${p.naturalName}</label>
                <input type="checkbox" name="${p.name}" id="input-${classNameLowerCase}-${p.name}" value=""/>
                <% } else if (p.type == Date || p.type == java.sql.Date || p.type == java.sql.Time || p.type ==
                Calendar) { %>
                <label for="input-${classNameLowerCase}-${p.name}">${p.naturalName}</label>
                <input type="text" name="${p.name}" id="input-${classNameLowerCase}-${p.name}" value=""
                       data-role="datebox" data-options='{"mode":"datebox", "useNewStyle":true}'/>
                <% } else if (Number.isAssignableFrom(p.type) || (p.type.isPrimitive() && p.type != boolean)) { %>
                <label for="input-${classNameLowerCase}-${p.name}">${p.naturalName}</label>
                <input type="number" name="${p.name}" id="input-${classNameLowerCase}-${p.name}" value=""/>
                <% } else if (p.type==([] as Byte[]).class || p.type==([] as byte[]).class) { %>
                <label for="input-${classNameLowerCase}-${p.name}">${p.naturalName}</label>
                <input type="file" name="${p.name}" id="input-${classNameLowerCase}-${p.name}"/>
                <% } else if(p.isEnum()) {%>
                <fieldset data-role="controlgroup">
                    <legend>Choose a ${p.name}</legend>
                    <%
                    p.type.values().each {it-> %>
                    <label for="input-${classNameLowerCase}-${p.name}-${it}">${it}</label>
                    <input type="radio" name="${p.name}" id="input-${classNameLowerCase}-${p.name}-${it}"
                           value="${it}"/>
                    <% }%>
                </fieldset>
                <% } else if (p.isOneToOne()) {
                def referencedType = p.type.name
                if (referencedType.lastIndexOf('.') > 0) {
                referencedType = referencedType.substring(referencedType.lastIndexOf('.')+1)
                } %>
                <div data-role="fieldcontain">
                    <label for="select-${classNameLowerCase}-${p.name}" class="select">Choose a
                        ${referencedType}</label>
                    <select name="${p.name}" data-gorm-relation="many-to-one"
                            id="select-${classNameLowerCase}-${p.name}" data-native-menu="false">
                        <option value="0"></option>
                    </select>
                </div>
                <% } %>
            </li>
            <% } %>
        </ul>
        <% if (geolocated) { %>
        <input type="hidden" name="longitude" id="input-${classNameLowerCase}-longitude"/>
        <input type="hidden" name="latitude" id="input-${classNameLowerCase}-latitude"/>
        <% } %>
        <% geoProps.each { %>
        <input type="hidden" name="${it.key}" id="input-${classNameLowerCase}-${it.key}"/>
        <% } %>
        <input type="hidden" name="id" id="input-${classNameLowerCase}-id"/>
        <input type="hidden" name="version" id="input-${classNameLowerCase}-version"/>
        <input type="hidden" name="class" id="input-${classNameLowerCase}-class"/>
    </div>
    <% if (geolocated) { %>
    <div id="map-canvas-form" style="height: 70%;width: 100%;position: absolute;"></div>
    <% } %>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#section-list-${classNameLowerCase}s" data-transition="slide" data-role="button"
                       data-icon="delete" id="delete-${classNameLowerCase}">Delete</a></li>
                <li><a href="#section-list-${classNameLowerCase}s" data-transition="slide" data-icon="save"
                       id="submit-${classNameLowerCase}">Save</a></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>